* {
    font-family: Open Sans,sans-serif;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: block;
    unicode-bidi: isolate;
}

#app [data-v-5fdf2371] {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-lg {
  vertical-align: -0.225em;
}
.svg-inline--fa.fa-w-1 {
  width: 0.0625em;
}
.svg-inline--fa.fa-w-2 {
  width: 0.125em;
}
.svg-inline--fa.fa-w-3 {
  width: 0.1875em;
}
.svg-inline--fa.fa-w-4 {
  width: 0.25em;
}
.svg-inline--fa.fa-w-5 {
  width: 0.3125em;
}
.svg-inline--fa.fa-w-6 {
  width: 0.375em;
}
.svg-inline--fa.fa-w-7 {
  width: 0.4375em;
}
.svg-inline--fa.fa-w-8 {
  width: 0.5em;
}
.svg-inline--fa.fa-w-9 {
  width: 0.5625em;
}
.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}
.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}
.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}
.svg-inline--fa.fa-w-13 {
  width: 0.8125em;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-w-15 {
  width: 0.9375em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa.fa-w-17 {
  width: 1.0625em;
}
.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}
.svg-inline--fa.fa-w-19 {
  width: 1.1875em;
}
.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}
.svg-inline--fa.fa-pull-left {
  margin-right: 0.3em;
  width: auto;
}
.svg-inline--fa.fa-pull-right {
  margin-left: 0.3em;
  width: auto;
}
.svg-inline--fa.fa-border {
  height: 1.5em;
}
.svg-inline--fa.fa-li {
  width: 2em;
}
.svg-inline--fa.fa-fw {
  width: 1.25em;
}

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -0.125em;
  width: 1em;
}
.fa-layers svg.svg-inline--fa {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.fa-layers-counter, .fa-layers-text {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: 0.25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.fa-xs {
  font-size: 0.75em;
}

.fa-sm {
  font-size: 0.875em;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.fa-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: 0.3em;
}
.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: 0.3em;
}


.fa-spinner [data-v-cf78a876] {
  -webkit-animation: rotate 1s linear infinite;
   animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.fa-flip-both, .fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-flip-both {
  -webkit-filter: none;
          filter: none;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2.5em;
}

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em;
}
.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2.5em;
}

.fa-inverse {
  color: #fff;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.svg-inline--fa .fa-primary {
  fill: var(--fa-primary-color, currentColor);
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa .fa-secondary {
  fill: var(--fa-secondary-color, currentColor);
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa mask .fa-primary,
.svg-inline--fa mask .fa-secondary {
  fill: black;
}

.fad.fa-inverse {
  color: #fff;
}


html {
    height: 100%;
    box-sizing: border-box;
    transition: background-color .3s cubic-bezier(.25, .8, .25, 1);
}

body, 
html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
}

    
.md-body-1, 
.md-body-2, 
body {
    font-size: 14px;
    letter-spacing: .01em;
}

.md-body-1, 
body {
    font-weight: 400;
    line-height: 20px;
}
body {
    min-height: 100%;
    margin: 0;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, Noto Sans, -apple-system, BlinkMacSystemFont, sans-serif;
}

.flex-col {
    flex-direction: column !important;
}

.flex {
    display: flex !important;
}

.align-center {
    align-items: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

/*

NAV BAR

*/

.navbar {
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
}

.navbar img.logo {
    height: 40px;
    width: 150px;
}

.navbar .links {
    display: flex;
    width: 100%;
    max-width: 430px;
}
.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.navbar .link {
    position: relative;
}

.navbar .router-link-exact-active {
    color: #6030b1 !important;
}

.navbar a {
    color: #0a1f44 !important;
    text-decoration: none;  
}

a.btn-contact {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .35s ease;
}

/*

    PHONE NAV

*/

#phone-nav {
    position: relative;
    display: none;
}

.bento-menu[data-v-48b363cf] {
    width: 27px;
    height: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 5px;
    cursor: pointer;
}

.bento-menu>div[data-v-48b363cf] {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #6030b1;
}

.close-btn[data-v-48b363cf] {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 37px;
    background-color: transparent;
    z-index: 2000;
    cursor: pointer;
}

.close-btn[data-v-48b363cf]::before, .close-btn[data-v-48b363cf]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #6030b1;
}

.showMenu[data-v-48b363cf] {
    transform: translateX(100%);
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1005;
    background-color: hsla(0, 0%, 100%, .95);
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.link[data-v-48b363cf] {
    color: #6030b1 !important;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

/*

    LANDING PAGE

*/

#landing-page[data-v-2a11e7ca] {
    max-width: 100vw;
    overflow-x: hidden;
    padding: 10px 20px 0 20px;
    max-height: calc(100vh - 165px);
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

h1[data-v-2a11e7ca] {
    font-size: 57px;
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #6030b1;
    text-align: center;
    margin-bottom: 30px;
}

h2[data-v-2a11e7ca] {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #0a1f44;
    text-transform: uppercase;
    margin-bottom: 80px;
    text-align: center;
}

/*

  INPUT BAR

*/

.input-wrapper[data-v-2a11e7ca] {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

input[data-v-2a11e7ca] {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    font-size: 24px;
    padding: 25px;

}

button.not-loading[data-v-2a11e7ca] {
    border: 1px solid #6030b1;
    background-color: #6030b1;
    box-shadow: 7px 7px 14px rgba(134, 93, 204, .3);
    cursor: pointer;
}

button.not-loading[data-v-2a11e7ca]:hover {
  background-color: #ff328f;
  border: 1px solid #ff328f;
}

button.loading[data-v-2a11e7ca] {
  background-color: #0a1f44;
  cursor: no-drop;
}

button[data-v-2a11e7ca] {
  width: 200px;
  margin-left: 20px;
  font-size: 40px;
  color: #fff;
  border-radius: 20px;
  transition: all .25 ease;
}

.searchBtn svg {
  width: 24px;
  height: 24px;
}

.searchBtn.loading svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*

  MOVIES


*/

.movie-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 50%;
}

.movie-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.movie-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-card__container {
  padding: 2px 16px;

}


.movie-card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}


/*
    BUILDING AND CAR

*/

.building[data-v-2a11e7ca] {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    bottom: 80px;
    height: 50vh;
    position: absolute;
}

.car-wrapper[data-v-53a4c488] {
    transform: translateX(0);
    transition: all 2s ease-in-out;
    z-index: 1000;
    width: 100%;

}

.car[data-v-53a4c488] {
  margin-bottom: 30px;
  width: 700px;
  margin: 0 auto;
  position: relative;
}

.car img[data-v-53a4c488] {
  opacity: 0;
  position: absolute;
  bottom: 38.2%;
  left: 1.1%;  
  width: 6%;
}

.car-move {
  transform: translateX(100vw);
}

.wheel[data-v-53a4c488] {
    background: url(../img/wheel.cb325a79.png) 50% / cover;
    position: absolute;
    bottom: .8%;
    width: 17%;
}

.wheel1[data-v-53a4c488] {
  left: 9.75%;
}

.wheel2[data-v-53a4c488] {
  right: 9%;
}

@media screen and (max-height: 1200px) {
    .navbar[data-v-2a11e7ca] {
        height: 100px;
    }

    #landing-page[data-v-2a11e7ca] {
        max-height: none;
    }

    .building[data-v-2a11e7ca] {
        bottom: 0;
    }

    h1[data-v-2a11e7ca] {
        font-size: 50px;
    }

    h2[data-v-2a11e7ca] {
        margin-bottom: 40px;
    }
    
}

@media screen and (max-width: 750px) {
    .links {
        display: none !important;
    }

    #phone-nav {
        display: block;
    }
}

@media screen and (max-width: 585px) {
    #landing-page[data-v-2a11e7ca] {
        max-height: none;
        padding: 10px 20px 40px 20px;
    }

    .building[data-v-2a11e7ca], 
    .car-wrapper[data-v-2a11e7ca] {
        display: none;
    }

    h1[data-v-2a11e7ca], 
    h2[data-v-2a11e7ca] {
        text-align: left;
    }
   
    h2[data-v-2a11e7ca] {
        font-size: 34px;
        margin-bottom: 30px;
    }

    .input-wrapper[data-v-2a11e7ca] {
      flex-direction: column;
    }
    
    .input-wrapper button[data-v-2a11e7ca] {
      max-width: none !important;
      width: 100%;
      margin: 20px 0 0 0;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        padding: 0 20px;
        height: 85px;
    }
}